GraphicsStatusBar {
    background-color: darken(@sidebar_background, 2%);
    SceneCoordinates {
        border: 1px solid darken(@sidebar_background, 15%);
        color: lighten(#000000, 15%);
        background-color: white;
        padding: 5px;
    }
}

QSplitterHandle {
    background-color: darken(@sidebar_background, 10%);
}
